.problem_one_page{
      margin-right: 10px;

      .innerContent{
            text-align: center;
      }

      .input_group{
                  display: flex;
                  justify-content: center;
                  align-items: center;
      }
      .input_field{
            display: flex;
            text-align: center;
            flex-wrap: nowrap; 
      }
}