.new_arr_page{
      padding: 2rem 0;
      .innerContent{
            .comp__title{
              margin-left: 40px;
              font-size: 20px;
              font-family: Roboto;

              .s_t{
                  color: rgba(0, 202, 215, 1);
              }
            }
          
            .product_display{
                  display: grid;
                  grid-template-columns: repeat(6,1fr);
                  align-items: center;
                  gap: 20px;

                  .ant-card{
                        .p_title{
                              color: rgba(3, 78, 83, 1);
                        }

                        img{
                              width: 158px;
                              height: 128px;
                              padding: 1rem;
                        }
                        .price{
                              display: flex;
                              justify-content: space-between;
                              align-items: center;

                              .new_p{
                                    color: rgba(10, 174, 185, 1);
                              }
                        }

                        .ant-btn{
                              width: 100%;
                              background: rgba(10, 174, 185, 1);
                              color: #fff;
                              
                        }
                  }
            }
                
      }
}