.tvc_page{
      background-image: url(https://i.ibb.co/prKDX4R/SL-082820-34580-30.jpg);
     .innerContent{
            display: flex !important;
            justify-content: space-between;
            align-items: center;

            .caro_text{
                  font-size: 57px;
                  font-family: Roboto;
                  font-weight: 400;
                  line-height: 53px;
                  
            }
            .c__t{
                  color: rgba(10, 174, 185, 1);
            }
            .btn{
                  background: #14B1F0;
                  color: #fff;
            }
      }
}
