.footer_page{
      background-color: rgba(27,24,71,255);
      padding: 90px 0;


      .footer_text{
      color: #88bf3f;
      font-size: 35px;
      font-weight: 500;
}
      .important_link{
              color: white; 
              margin-top: 10px;

       }
}


